/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-font: "inter", sans-serif;
}

/* Global */

body {
  font-family: var(--primary-font);
  box-sizing: border-box;
  background: url(../images/lumbridge-home-page.png) center center/cover no-repeat;
  margin: 0;
  padding: 0;
  font-size: 0.4em;
  /* Used to make footer stick to bottom of the page */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1, h2 {
  text-align: center;
  background-color: #ffffff;
  opacity: 0.7;
  width: 80vw;
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 3vh;
  border-radius: 20px;
  padding: 0.5% 0;
  font-size: 3em;
}

.hidden {
  display: none;
}

/* Global - end */

/* header/nav */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  margin: auto;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: rgb(105, 105, 105);
}

nav {
  background: #ffffff;
  height: 5vh;
  opacity: 0.55;
  font-size: 2em;
  padding-top: 5px;
}

/* end of header/nav */


/* general container */
.container {
  text-align: center;
  background-color: #ffffff;
  opacity: 0.7;
  width: 80vw;
  max-width: 600px;
  height: 60vh;
  border-radius: 20px;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 5px;
}

/* correct answer colour */

.incorrect-answer {
  background-color: red;
}

.correct-answer {
  background-color: green;
}

/* homepage */

#home-window {
 height: 559px;
}

.options-container {
  display: grid;
  margin: auto;
  margin-top: 20px;
}

.option {
  height: 40px;
  opacity: 0.9;
  border: 1px solid hsla(0, 0%, 39%, 0.329);
  border-radius: 10px;
  align-content: center;
  width: 80%;
  margin: auto;
  font-weight: bold;
  color: white;
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.option-background {
  background-color: rgb(8, 8, 8);
}

.option:hover {
  cursor: pointer;
  background-color: rgb(46, 46, 46);;
}

/* score */

#score {
  margin: 0;
  margin-top: 3%;
  padding: 0;
  font-size: 250%;
}

/* reset button */

#reset-btn {
  background-color: rgb(8, 8, 8);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  height: 30px;
  width: 60px;
  margin-top: 40px;
}

#reset-btn:hover {
  background-color: rgb(46, 46, 46);;
}

/* end of homepage */

/* rules */

#rules h2 {
  font-size: 5em;
  margin: 5px 0;
}

#rules-text {
  padding: 10px;
  font-size: 2.5em;
  margin: 5px 0;
}

/* end of rules */

/* Form */

.form-item input, textarea {
  margin: 20px 0;
  width: 80%;
  height: 30px;
  border-radius: 20px;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}

#sumbit-btn {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 10px;
}

#sumbit-btn:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

#form-success {
  font-size: 3em;
}

/* footer */

footer {
  background-color: #ffffff;
  margin-top: auto;
  height: 5vh;
  opacity: 0.7;
}

/* end of footer */

/* 404 page */

#image-404 {
  margin-top: 30px;
}

#image-404 img {
  width: auto;
  height: 200px;
  padding: auto;
  margin-left: auto;
}

#button-404 {
  display: inline-block;
  background-color: rgb(8, 8, 8);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  height: 15px;
  width: 100px;
  margin-top: 40px;
  font-size: 2em;
  padding: 5px;
  border: black solid 2px;
}

#button-404:hover {
  background-color: rgb(46, 46, 46);
  
}

/* Media query for responsiveness */

@media screen and (max-width: 756px) {

  #home-window {
    height: 414px;
  }  

  .heading {
    font-size: smaller;
  }

  .options-container {
    height: 280px;
    margin-top: 25px;
  }

  .option {
    height: 40px;
  }

}
@media screen and (min-width: 756px) {

    #home-window {
    height: 414px;
  }  

  .options-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    padding-top: 35px;
    width: 100%;
    gap: 4rem;
    column-gap: 0.3em;
  }

  .option {
    height: 70px;
    max-width: 200px;
  }

  .container {
   width: 80%;
  }
}

@media screen and (min-width: 992px) {
  #score {
    margin-bottom: auto;
  } 
}