@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-font: "inter", sans-serif;
}

/* Global */

body {
  font-family: var(--primary-font);
  box-sizing: border-box;
  background: url(/assets/images/lumbridge-home-page.png) center center/cover no-repeat;
  margin: 0;
  padding: 0;
  font-size: 0.4em;
  /* Used to make footer stick to bottom of the page */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1, h2 {
  text-align: center;
  background-color: #ffffff;
  opacity: 0.7;
  width: 80vw;
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 3vh;
  border-radius: 20px;
  padding: 0.5% 0;
  font-size: 3em;
}

.hidden {
  display: none;
}

/* #home-window #heading {
  padding: 2%;
} */

/* Global - end */


/* header/nav */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  margin: auto;
}

nav {
  background: #ffffff;
  height: 5vh;
  opacity: 0.55;
  font-size: 2em;
  padding-top: 5px;
}

/* end of header/nav */


/* general container */
.container {
  text-align: center;
  background-color: #ffffff;
  opacity: 0.7;
  width: 80vw;
  max-width: 600px;
  height: 60vh;
  border-radius: 20px;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  padding: 5px;
}

/* correct answer colour */

.incorrect-answer {
  background-color: red
}

.correct-answer {
  background-color: green;
}

/* homepage */

.options-container {
  display: grid;
  margin: auto;
  gap: 2rem;
}

.option {
  height: 40px;
  background-color: rgb(8, 8, 8);
  opacity: 0.9;
  border: 1px solid hsla(0, 0%, 39%, 0.329);
  border-radius: 10px;
  align-content: center;
  width: 80%;
  margin: auto;
  font-weight: bold;
  color: white;
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.option:hover {
  cursor: pointer;
  background-color: rgb(46, 46, 46);;
}

#score {
  padding: 1%;
  margin-top: 15%;
  font-size: 250%;
}

/* end of homepage */

/* rules */

#rules h2 {
  font-size: 5em;
  margin: 5px 0;
}

#rules-text {
  padding: 10px;
  font-size: 2.5em;
  margin: 5px 0;
}

/* end of rules */

/* footer */

footer {
  background-color: #ffffff;
  margin-top: auto;
  height: 5vh;
  opacity: 0.7;
}

/* end of footer */

/* Media query for responsiveness */

@media screen and (max-width: 756px) {

  #home-window {
    height: 70vh;
  }  
  
  /* h1 {
    font-size: 2.5vw;
  }
  
  h2 {
    font-size: 2vw;
  } */

  .options-container {
    margin-top: 25px;
  }

}
@media screen and (min-width: 756px) {

  .options-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    /* margin-top: 50px; */
    padding-top: 35px;
    width: 100%;
    gap: 4rem;
    column-gap: 0.3em;
  }

  .option {
    height: 70px;
    max-width: 200px;
    /* margin: 10px 20px 30px 30px; */
  }

  .container {
   width: 80%;
  }

  /* h1, h2 {
    font-size: 2.5vw;
  } */
}

/* @media screen and (min-width: 992px) {
    .options-container{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    margin-top: 75px;
    width: 80%;
  }

  .container{
   width: 80%;
   height: 80%;
  }

  h1 {
    width: 50%;
    font-size: 3em;
  }
} */