@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-font: "inter", sans-serif;
}

body {
  font-family: var(--primary-font);
  box-sizing: border-box;
  background: url(/assets/images/lumbridge-home-page.png) center center/cover no-repeat ;
  /* Used to make footer stick to bottom of the page */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 0.7em;
}

h1 {
  text-align: center;
  background-color: #ffffff;
  opacity: 0.55;
  width: 50vw;
  height: 5vh;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  margin: auto;
}

nav {
  background: #ffffff;
  height: 5vh;
  opacity: 0.55;
}

.container {
  text-align: center;
  background-color: #ffffff;
  opacity: 0.55;
  width: 50vw;
  height: 50vh;
  border-radius: 20px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  padding: 5px;
}

footer {
  background-color: #ffffff;
  margin-top: auto;
  height: 5vh;
}